<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Aaron Reisman</string>
	<key>Builder Version</key>
	<string>12602.3.12.0.1</string>
	<key>CFBundleDisplayName</key>
	<string>Scout</string>
	<key>CFBundleIdentifier</key>
	<string>net.lifeiscontent.safari.scout</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.7</string>
	<key>CFBundleVersion</key>
	<string>1.1.7</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>backgrounds/safari.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>onClicked</string>
				<key>Identifier</key>
				<string>browserAction</string>
				<key>Image</key>
				<string>icon-16.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Scout</string>
				<key>Palette Label</key>
				<string>Activate Scout</string>
				<key>Tool Tip</key>
				<string>Activate Scout</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>javascripts/app.react.min.js</string>
				<string>javascripts/safari.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>javascripts/react.min.js</string>
				<string>javascripts/react-dom.min.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Scout is a tool to help investigate your designs.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.github.com/lifeiscontent/Scout/master/Update.plist</string>
	<key>Website</key>
	<string>http://lifeiscontent.net</string>
</dict>
</plist>
