.scout-console {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 99999 !important;
  padding: 7px !important;
  font-family: sans-serif !important;
  font-size: 12px !important;
  color: #ffffff !important;
  background-color: #000000 !important;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased !important;
}
.scout-logo {
  font-weight: bold !important;
  padding-bottom: 3px !important;
}
.scout-info {
  text-rendering: optimizeLegibility !important;
}
.scout-scouter-info {
  width: auto !important;
}

.scout-console p {
    margin: 0 !important;
    margin-bottom: 12px !important;
    color: #ffffff !important;
    font-size: 12px !important;
    line-height: 12px !important;
}

.scout-console a,
.scout-console a:hover,
.scout-console a:focus {
    color: #2b7699 !important;
}